.auth-content{
    width: 680px;
    height: 350px;
    margin-top:96px;
    margin-left: 416px;
}
.auth-content h1{
    width: 144px;
    height: 47.5px;
    margin-left: 157px;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
}
.auth-content p{
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}
.auth-content input{
    width: 480px;
    height: 40px;
    border-radius: 4px;
    border-width: 1px;
}
.login__link {
    width: 480px;
    height: 65px;
    margin-left: 417px;
    border-radius: 5px;
    background: #FF5555;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
}
.login__link a{
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 10px;
}
.register_buttun{
    width: 480px;
    height: 65px;
    margin-left: 417px;
    margin-bottom: 100px;
    text-align: center;
    display: inline-block;
}
.register_buttun a{
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #0073CC;
    display: inline-block;
    margin-top: 10px;
}