.user-info{
    display: flex;
    justify-content: center;
    width: 1017px;
    height: 150px;
    margin-top: 50px;
}
.user-img{
    width: 150px;
    height: 150px;
    background-color:#D9D9D9;
    border-radius: 50%;
    margin-left: 100px;
}
.user-info h2{
    margin-left: 80px;
    margin-top: 40px;
    margin-right: 220px;
}
.user-info a{
    margin-top: 50px;
    border: 1px solid #FF5555;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    color: #FF5555;
    text-align: center;
}