.auth-content{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.auth-content input{
    width: 600px;
    height: 40px;
}
.auth-content p{
    text-align: left;
    margin-left: 200px;
}
.profile_img{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.user_img{
    background-color:#D9D9D9;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profile_img a{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #FF5555;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 200px;
    padding-top: 10px;
    color: #FF5555;
}
.register__link{
    width: 600px;
    height: 40px;
    background-color: #FF5555;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
}
.register__link button{
    color: white;
    text-decoration: none;
    vertical-align: middle;
    background-color: #FF5555;
    border: none;
    padding-top: 6px;
}