.auth-content{
    width: 800px;
    height: 620px;
    margin-top:96px;
    margin-left: 416px;
}
.auth-content h1{
    width: 925px;
    height: 47.5px;
    margin-left: 157px;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.auth-content p{
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}
.auth-content input{
    width: 1200px;
    height: 40px;
    border-radius: 4px;
    border-width: 1px;
}
.register__link {
    width: 1200px;
    height: 65px;
    margin-left: 417px;
    border-radius: 5px;
    background: #FF5555;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    
}
.register__link button{
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 10px;
    border: none;
    background: #FF5555;
}
.login_buttun{
    width: 1200px;
    height: 65px;
    margin-left: 417px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
}
.login_buttun a{
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #0073CC;
}